<!DOCTYPE html>
<html lang="fa">
   <head>

      <meta charset="utf-8">
      <title>صفحه ی نخست</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Loading Bootstrap -->
      <link href="/static/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Loading Flat UI -->
      <link href="/static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
      <link rel="shortcut icon" href="/static/Flat-UI-master/images/favicon.ico">
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>

      <![endif]-->
        <script src="/static/jquery.min.js">
</script>
   </head>
   <body>

      <!-- /nav bar -->
      <div class="navbar navbar-inverse">
         <ul class="nav navbar-collapse navbar-right" >
            <li>
               <a href="#">
               مرکز مالی
               </a>
            </li>
         </ul>
         <ul class="nav  navbar-right">
            <li>

               <a href="#">
               بهترین محصولات
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#">
               محبوب ترین محصولات
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#">
               پیشنهاد ویژه
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#">
               سبد خرید
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#">
               خرید
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#">
               درباره ی ما
               </a>
            </li>
         </ul>
         <ul class="nav navbar-brand navbar-left">
            <li>
               <input type="text" class="form-control" placeholder="جستجوی سریع" />
            </li>
         </ul>
      </div>
      <div class="container">
         <div class="col-lg-9">
            <img src="/static/1.jpg" alt="example-image" class="img-rounded img-responsive left">
         </div>


         <div class="col-md-3 " style="text-align: right" >
            <div class="todo">
               <div class="todo-search">
                  <input class="todo-search-field"/>
               </div>
               <ul >



               </ul>
            </div>
            <ul class="pager">
               <li class="previous">
                  <a href="#">
                  <span>
                  <i class="fui-arrow-left"></i>
                  بعدی
                  </span>
                  </a>
               </li>
               <li class="next">
                  <a href="#">
                  <span>
                  <i class="fui-arrow-right"></i>
                  قبلی
                  </span>
                  </a>
               </li>
            </ul>
         </div>

         <div class="col-md-3 " style="text-align: right">
            :شناسه کاربری
            <input type="email" class="form-control">
            :رمز ورود

            <input type="email" class="form-control">
            <br>
            <button class="btn btn-inverse" >ثبت نام</button>
            <button class="btn btn-primary" >ورود</button>
         </div>
      </div>




      <script class="cssdeck" src="/static/jquery.min.js"></script>
      <script class="cssdeck" src="/static/jquery.js">
</script>

      <script>

          var majidlist=function(id){

                $('ul[id='+id+']').animate({
                    height:'toggle'
                });

          }

          $.ajax({

		url: "/ajax/goods" ,
		type: 'get',
		dataType: 'json',
		success: function(data){
		    if (data.result == 0){
		       // Request error
		    }else {
		       // success

                for(i=0;i<data.categoryList.length;i++){

                    if(data.categoryList[i].parent==null){



                        $("div.col-md-3 ul:first").append( '<li class="todo-content" >'+
                     '<div class="todo-icon fui-list">'+
                    '</div>'+

                        '<button class="btn btn-default" onclick=majidlist('+data.categoryList[i].id+') class="todo-name right" id="'+data.categoryList[i].id+'"'+'>'+data.categoryList[i].name+'</button>'+
                  '<ul id='+data.categoryList[i].id+'></ul></li>')



                    }else{

                        $('button[id="'+data.categoryList[i].parent+'"] ').siblings("ul").append( '<li class="todo-content">'+

                        '<h4 class="todo-name right" id="'+data.categoryList[i].id+'"'+'>'+data.categoryList[i].name+'</h4>'+
                  '</li>')


                    }
                }
		    }
		}
		// ...
	});









      </script>
      <!-- Load JS here for greater good =============================-->

   </body>
</html>