{% extends "base.html" %}

{% block body %}

      <div class="container">

         <!-- Slides Frame -->
         <div class="col-lg-9">

            <div id="Mycarousel" class="carousel slide" data-ride="carousel"   style="border: solid 10px;border-radius: 10px">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#Mycarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#Mycarousel" data-slide-to="1"></li>
                  <li data-target="#Mycarousel" data-slide-to="2"></li>
                  <li data-target="#Mycarousel" data-slide-to="3"></li>
               </ol>

               <!-- ----------------- Slides ----------------- !-->
               <div class="carousel-inner" style="height: 12cm; " >
                  <!-- ----------- ITEM 1 --------------- !-->
                  <div class="item active">
                     <img src="/static/9.jpg" >
                     <div class="carousel-caption " ></div>
                  </div>
                  <!-- ---------------------------------- !-->


                  <!-- ----------- ITEM 2 --------------- !-->
                  <div class="item">
                     <img src="/static/10.jpg" >
                     <div class="carousel-caption"></div>
                  </div>
                  <!-- ---------------------------------- !-->

                  <!-- ----------- ITEM 3 --------------- !-->
                  <div class="item ">
                     <img src="/static/11.jpg">
                     <div class="carousel-caption"></div>
                  </div>
                  <!-- ---------------------------------- !-->

                  <!-- ----------- ITEM 4 --------------- !-->
                  <div class="item ">
                     <img src="/static/12.jpg">
                     <div class="carousel-caption"></div>
                  </div>
                  <!-- ---------------------------------- !-->
               </div>
               <!-- --------------- End of Slides --------------- !-->

               <!-- Controls -->
               <a class="left carousel-control" href="#Mycarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a class="right carousel-control " href="#Mycarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
               <!-- End of Controls -->

            </div>

         </div>
         <!-- End of Slides Frame -->

         <div class="col-md-3 " style="text-align: right" >
            <div class="todo">
               <div class="todo-search">
                  <input class="todo-search-field"/>
               </div>
               <ul>
                  دسته‌بندی محصولات
               </ul>
            </div>
            <ul class="pager">
               <li class="previous">
                  <a href="#">
                     <span>
                        <i class="fui-arrow-left"></i>
بعدی
                     </span>
                  </a>
               </li>
               <li class="next">
                  <a href="#">
                     <span>
                        <i class="fui-arrow-right"></i>
قبلی
                     </span>
                  </a>
               </li>
            </ul>
         </div>

      </div>

      <script>

         $.ajax({
            url: "/ajax/goods",
            type: 'get',
            dataType: 'json',
            success: function(data){
               if (data.result == 0){
                  // Request error
               }else {
                  // success
                  for(i=0;i<data.categoryList.length;i++){
                     if(data.categoryList[i].parent==null){
                        $("div.col-md-3 ul:first").append( '<li class="todo-content" >'+
                                '<div class="todo-icon fui-list">'+
                                '</div>'+
                                '<button class="btn btn-default" onclick=majidlist('+data.categoryList[i].id+') class="todo-name right" id="'+data.categoryList[i].id+'"'+'>'+data.categoryList[i].name+'</button>'+
                                '<ul id='+data.categoryList[i].id+'></ul></li>')
                        majidlist(data.categoryList[i].id);
                     }else{
                        $('button[id="'+data.categoryList[i].parent+'"] ').siblings("ul").append( '<li class="todo-content">'+
                                '<h4 class="todo-name right" id="'+data.categoryList[i].id+'"'+'>'+data.categoryList[i].name+'</h4>'+
                                '</li>')
                     }
                  }
               }
            }
         });

      </script>

{% endblock %}